In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
pd.read_csv("./Resources/ehact_2014.csv")

              tucaseid  tuactivity_n  eueatsum  euedur  euedur24
0       20140101140007             1        -1      -1        -1
1       20140101140007             2        -1      -1        -1
2       20140101140007             3        -1      -1        -1
3       20140101140007             4        -1      -1        -1
4       20140101140007             5        -1      -1        -1
...                ...           ...       ...     ...       ...
120714  20141212142500            14        -1      -1        -1
120715  20141212142500            15        -1      -1        -1
120716  20141212142500            16        -1      -1        -1
120717  20141212142500            17         1      60        60
120718  20141212142500            18        -1      -1        -1

[120719 rows x 5 columns]

In [3]:
df = pd.read_csv("./Resources/ehresp_2014.csv")

In [4]:
df.columns

Index(['tucaseid', 'tulineno', 'eeincome1', 'erbmi', 'erhhch', 'erincome',
       'erspemch', 'ertpreat', 'ertseat', 'ethgt', 'etwgt', 'eudietsoda',
       'eudrink', 'eueat', 'euexercise', 'euexfreq', 'eufastfd', 'eufastfdfrq',
       'euffyday', 'eufdsit', 'eufinlwgt', 'eusnap', 'eugenhth', 'eugroshp',
       'euhgt', 'euinclvl', 'euincome2', 'eumeat', 'eumilk', 'euprpmel',
       'eusoda', 'eustores', 'eustreason', 'eutherm', 'euwgt', 'euwic',
       'exincome1'],
      dtype='object')

In [5]:
df

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,eumeat,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1
0,20140101140007,1,-2,33.200001,1,-1,-1,30,2,0,...,1,2,1,-1,2,1,2,170,1,2
1,20140101140011,1,1,22.700001,3,1,-1,45,14,0,...,1,2,1,-1,1,2,2,128,2,0
2,20140101140028,1,2,49.400002,3,5,-1,60,0,0,...,-1,-1,2,2,-1,-1,-1,270,2,12
3,20140101140063,1,-2,-1.000000,3,-1,-1,0,0,0,...,2,2,1,1,2,6,-1,-2,2,2
4,20140101140168,1,2,31.000000,3,5,-1,65,0,0,...,1,2,1,2,1,1,2,210,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11207,20141212142472,1,1,27.400000,3,1,-1,45,0,0,...,1,2,1,1,1,2,2,180,-1,0
11208,20141212142476,1,2,24.000000,3,5,5,30,0,0,...,1,2,3,2,1,2,2,140,2,0
11209,20141212142480,1,1,22.200001,3,1,5,90,5,0,...,1,2,1,-1,3,3,2,142,-1,0
11210,20141212142484,1,2,23.400000,3,5,-1,240,0,0,...,-1,-1,2,1,-1,-1,-1,168,2,0
11211,20141212142500,1,1,22.600000,3,1,5,120,70,0,...,1,2,1,-1,1,2,2,140,2,0

In [6]:
df.drop(['eeincome1', 'ethgt', 'etwgt', 'euincome2', 'exincome1', 'tulineno'], axis=1)

,tucaseid,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,eudietsoda,eudrink,eueat,...,euinclvl,eumeat,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic
0,20140101140007,33.200001,1,-1,-1,30,2,-1,2,1,...,5,1,2,1,-1,2,1,2,170,1
1,20140101140011,22.700001,3,1,-1,45,14,-1,2,1,...,5,1,2,1,-1,1,2,2,128,2
2,20140101140028,49.400002,3,5,-1,60,0,-1,1,2,...,5,-1,-1,2,2,-1,-1,-1,270,2
3,20140101140063,-1.000000,3,-1,-1,0,0,2,1,2,...,5,2,2,1,1,2,6,-1,-2,2
4,20140101140168,31.000000,3,5,-1,65,0,-1,1,2,...,5,1,2,1,2,1,1,2,210,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11207,20141212142472,27.400000,3,1,-1,45,0,2,1,2,...,6,1,2,1,1,1,2,2,180,-1
11208,20141212142476,24.000000,3,5,5,30,0,-1,1,2,...,6,1,2,3,2,1,2,2,140,2
11209,20141212142480,22.200001,3,1,5,90,5,-1,2,1,...,6,1,2,1,-1,3,3,2,142,-1
11210,20141212142484,23.400000,3,5,-1,240,0,1,1,2,...,6,-1,-1,2,1,-1,-1,-1,168,2
11211,20141212142500,22.600000,3,1,5,120,70,-1,2,1,...,6,1,2,1,-1,1,2,2,140,2

In [10]:
new_df = df.rename(columns = {  'tucaseid': 'caseid', 'erbmi': 'bmi', 'erhhch': 'hhch', 
                                'erincome': 'income','erspemch': 'spemch', 'ertpreat': 'preat',
                                'ertseat': 'tseat','eudietsoda': 'dietsoda','eudrink': 'drink', 
                                'eueat': 'eat', 'euexercise': 'exercise', 'euexfreq': 'exfreq', 
                                'eufastfd': 'fastfd', 'eufastfdfrq': 'fastfdfrq','euffyday': 'ffyday',
                                'eufdsit': 'fdsit', 'eufinlwgt': 'finlwgt', 'eusnap': 'snap', 
                                'eugenhth': 'genhth', 'eugroshp': 'groshp', 'euhgt': 'hgt',
                                'euinclvl': 'inclvl', 'euincome2': 'euincome2', 'eumeat': 'meat',
                                'eumilk': 'milk', 'euprpmel': 'prpmel', 'eusoda': 'soda',
                                'eustores': 'stores', 'eustreason': 'streason', 'eutherm': 'therm',
                                'euwgt': 'wgt', 'euwic': 'wic'
                             })

In [14]:
cleaned_resp_df = new_df.drop(['eeincome1','tulineno'], axis=1)

In [18]:
# nan_df = cleaned_resp_df .isna()

# nan_count = nan_df.sum()

# nan_count

In [20]:
activity_df = pd.read_csv("./Resources/ehact_2014.csv")

In [24]:
activity_df = df.rename(columns = {
    'tucaseid': 'caseid', 'tuactivity_n': 'activity_n',
    'eueatsum': 'eatsum', 'euedur': 'edur', 
    'euedur24': 'edur24'
    
})

activity_df

                caseid  activity_n  eatsum  edur  edur24
0       20140101140007           1      -1    -1      -1
1       20140101140007           2      -1    -1      -1
2       20140101140007           3      -1    -1      -1
3       20140101140007           4      -1    -1      -1
4       20140101140007           5      -1    -1      -1
...                ...         ...     ...   ...     ...
120714  20141212142500          14      -1    -1      -1
120715  20141212142500          15      -1    -1      -1
120716  20141212142500          16      -1    -1      -1
120717  20141212142500          17       1    60      60
120718  20141212142500          18      -1    -1      -1

[120719 rows x 5 columns]

In [ ]:
#upload to postgres
engine = create_engine(f'postgresql+psycopg2://{username}:{pw}@{hostname}:{port}/{db}')